<%- include('_header', {}) %>
  <h1>모든 페이지 (<%= pages.length %>)</h1>
  <ul class="page-list">
    <% pages.forEach(function(p) { %>
      <li><a href="/page/<%= encodeURIComponent(p) %>"><%= p %></a></li>
    <% }); %>
  </ul>
<%- include('_footer') %>
